@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');

$thin: 100;
$regular: 300;
$bold: 600;

$smallFontSize: 1rem;
$bigFontSize: 2.1 * $smallFontSize;

$normal: #ffb3bf;
$dark: #b37d8b;
$light: #ffd9e3;
$lightlight: #ffecf1;
$white: #ffffff;
$black: #000000;

// global styles
body {
	font-family: 'Poppins', sans-serif;
	font-weight: $regular;
	font-size: $smallFontSize;
	margin: 0px;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html, body {
	margin: 0;
	height: 100%;
	overflow: hidden
}

.mainTitle {
	font-size: $bigFontSize;
	font-weight: $bold;
	padding: 10px 20px;
	margin: 0px;
	background-color: $dark;
	color: $lightlight;
}

.mainCanvas {
	border: 1px solid $black;
}

.container {
	padding: 10px 20px;
}

.dropdown {
	background-color: $white;
	color: $dark;
	font-weight: $bold;
	padding: 10px 10px;
	border: 1.5px solid $dark;
	border-radius: 4px;
	// margin-bottom: 0px;
}

.optionsContainer {
	display: flex;

	.singleOptionContainer {
		display: flex;

		h3 {
			color: $dark;
			margin: 0px;
			padding: 5px 0px;
			margin-right: 10px;
			
		}
		margin-bottom: 10px;
		margin-right: 20px;

	}
}